<link href="https://fonts.googleapis.com/css?family=Titillium+Web&display=swap" rel="stylesheet">
<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>GNLib - Accueil</title>
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
	</head>
	<body>
		<header>
			<div class="main">
				<ul>
					<!-- CODE IN js/button_links.js -->
					<li v-for="v in buttons">
						<a :href="v.link">
							{{ v.title }}
						</a>
					</li>
				</ul>

				<div class="title">
					<h1>GNLib</h1>
				</div>	
			</div>

			<div class="logo">
				<a><center><img src="img/gnlib_logo.png"></center></a>
			</div>


			<div class="button">
				<a href="wiki.html" class="btn">VOIR LE WIKI</a>	
			</div>
		</header>

		<div class="info">
			<h1><center>QU'EST CE QUE GNLib ?</center></h1>

			<h3><center>GNLib est une librarie créée par Guthen et Nogitsu.</center></h3>
		</div>

		<div class="install">
			<h1><center>COMMENT INSTALLER GNLib ?</center></h1>

			<h3><center>- Téléchargement direct sur GitHub de la dernière version de GNLib, puis extraction du<br /> dossier compressé obtenu vers le dossier addons de votre serveur ou jeu.<br />Bien que simpliste, cette technique est moins recommandée si vous souhaitez installer les mises à jour de <br />la librairie rapidement puisqu’il faudra répéter les étapes à chaque mise à jour.
			</center></h3>
			<BR>
			<h3><center>- Installation sur le logiciel GitHub Desktop de GNLib dans le dossier addons.<br />Cette solution est plus pratique si vous souhaitez installer les dernières mises à jour rapidement.
			</center></h3>
			<BR>
			<h3><center>- Téléchargement sur le Steam Workshop de GNLib, mais cette manière est plutôt<br />déconseillée parce que la librairie est souvent non mise à jour.
			</center></h3>
		</div>

		<div class="admin-text">
			<h1><center>CRÉATEURS</center></h1>
		</div>

		<div class="staff_body">
			<div class="containerStaff">
				<!-- CODE IN js/list_creators.js -->
				<div class="cardStaff" v-for="v in staff">
					<div class="StaffContent">
						<img class="staff-avatar" width=200 height=200 :src="v.image">
						<h2>{{ v.name }}</h2>
						<h3>{{ v.role }}</h3>
					</div>
				</div>
			</div>
		</div>

		<script src="https://unpkg.com/vue"></script>
		<script src="js/button_links.js"></script>
		<script src="js/list_creators.js"></script>
	</body>
</html>