<link href="https://fonts.googleapis.com/css?family=Titillium+Web&display=swap" rel="stylesheet">
<!DOCTYPE html>
<html lang="fr">
	<head>
        <meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <title>GNLib - Accueil</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
	</head>
	<body>
        <div class="main">
            <div class="row height-100">
                <div class="col-xs-12 col-sm-12 col-md-6 vertical-center">
                    <img src="img/gnlib_logo.png"/>
                    <h1 class="title mb-2" style="overflow: hidden;">GNLib</h1>
                    <div class="row justify-content-center">
                        <div class="mt-2">
                            <div class="col-xs-12 col-sm-6 col-md-3 mt-4" v-for="( v, k ) in buttons">
                                <a class="button mr-2" v-for="( y, x ) in v" :href="y">{{ x }}</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 secondary vertical-center align">
                    <h5 class="subtitle">Qu'est-ce que GNLib ?</h5>
                    <p class="text">
                        GNLib est une librairie en gLua, créée par Guthen et Nogitsu.
                        <br/>
                        Elle permet aux développeurs de faciliter le développement de leurs addons en leurs fournissant des fonctions et des VGUIs.
                    </p>
                    <h5 class="subtitle mt-4">Quelque fonctionnalités</h5>
                    <ul>
                        <li>Inclure un addon récursivement en respectant les côtés</li>
                        <li>Avoir des VGUIs plus épurés que ceux de base</li>
                        <li>Une palette de couleur integrée</li>
                        <li>Un système de traduction automatique</li>
                        <li>Des fonctions pratiques pour du Paint</li>
                        <li>Une extension d’auto-complétion sur VSCode</li>
                        <li>Et bien d'autre..</li>
                    </ul>
                    <h5 class="subtitle mt-4">Comment l'installer?</h5>
                    <ul>
                        <li>Grâce au <a class="link" href="#">Github</a></li>
                        <li>Grâce au <a class="link" href="#">Workshop</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="page">
            <div class="container">
                <div class="content staff_body">
                    <h3 class="title centered" style="margin-top: 20px;">Contributeurs</h3>

                    <div class="row justify-content-center">
                        <div class="col-xs-6 col-sm-6 col-md-3" v-for="v in staff">

                            <a target="_blank" :href="v.link">
                                <div class="card">
                                    <img class="avatar-card" width="200" height="200" :src="v.image">
                                    <h2>{{ v.name }}</h2>
                                    <h3>{{ v.role }}</h3>
                                    <p class="easter-egg" v-if="v.name == 'Wabel'">Brique au bob le bg</p>
                                    <p class="easter-egg" v-if="v.name == 'GCA'">Rejoindre le Discord</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

		<script src="https://unpkg.com/vue@2.6.11/dist/vue.min.js"></script>
		<script src="js/button_links.js"></script>
		<script src="js/list_creators.js"></script>
	</body>
</html>
