<link href="https://fonts.googleapis.com/css?family=Titillium+Web&display=swap" rel="stylesheet">
<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>GNLib - Wiki</title>
		<link rel="stylesheet" type="text/css" href="css/wiki.css">
	</head>
	<body>
		<header>
			<div class="main">
				<div class="logo">
					<a href="index.html"><center><img src="img/gnlib.png"></center></a> 
				</div>
				<input type="text" id="mySearch" onkeyup="myFunction()" placeholder="Rechercher..." title="Type in a category">
				<div class="vertical-menu">
					<ul id="myMenu">
						<!-- VGUIs -->
						<div class="categorie"><h1>VGUI</h1></div>
						<li v-for="text in vgui">
							<a href="#">
								{{ text }}
							</a>
						</li>
						<!-- UTIL functions -->
						<div class="categorie"><h1>UTIL</h1></div>
						<li v-for="text in util">
							<a href="#">
								{{ text }}
							</a>
						</li>
						<!-- DRAW functions -->
						<div class="categorie"><h1>DRAW</h1></div>
						<li v-for="text in draw">
							<a href="#">
								{{ text }}
							</a>
						</li>
						<!-- COLOR variables -->
						<div class="categorie"><h1>COLORS</h1></div>
						<li v-for="el in color">
							<a href="#" v-bind:style="{ backgroundColor: el.color }">
								{{ el.name }}
							</a>
						</li>
					</ul>
				</div>
			</div>
		</header>

		<script>
			function myFunction() {
				var input, filter, ul, li, a, i;
				input = document.getElementById("mySearch");
				filter = input.value.toUpperCase();
				ul = document.getElementById("myMenu");
				li = ul.getElementsByTagName("li");
				for (i = 0; i < li.length; i++) {
					a = li[i].getElementsByTagName("a")[0];
					if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
						li[i].style.display = "";
					} else {
					li[i].style.display = "none";
					}
				}
			}
		</script>
		<script src="https://unpkg.com/vue"></script>
		<script src="js/wiki_nav.js"></script>
	</body>
</html>
