<link href="https://fonts.googleapis.com/css?family=Titillium+Web&display=swap" rel="stylesheet">
<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>GNLib - Wiki</title>
		<link rel="stylesheet" type="text/css" href="css/wiki.css">
	</head>
	<body>
		<header>
			<div class="main">
				<div class="logo">
					<a href="index.html"><center><img src="img/gnlib.png"></center></a> 
				</div>
				<div class="vertical-menu">
					<input v-model="search" id="mySearch" placeholder="Rechercher..." title="Search a function, variable or VGUI">
					<ul id="myMenu">
						<!-- VGUIs -->
						<div class="categorie"><h1>VGUI</h1></div>
						<li v-for="text in vgui">
							<a href="#" v-if="text.toLowerCase().indexOf( search ) > -1">
								{{ text }}
							</a>
						</li>
						<!-- UTIL functions -->
						<div class="categorie"><h1>UTIL</h1></div>
						<li v-for="text in util">
							<a href="#" v-if="text.toLowerCase().indexOf( search ) > -1">
								{{ text }}
							</a>
						</li>
						<!-- DRAW functions -->
						<div class="categorie"><h1>DRAW</h1></div>
						<li v-for="text in draw">
							<a href="#" v-if="text.toLowerCase().indexOf( search ) > -1">
								{{ text }}
							</a>
						</li>
						<!-- COLOR variables -->
						<div class="categorie"><h1>COLORS</h1></div>
						<li v-for="el in color">
							<a href="#" v-if="el.name.toLowerCase().indexOf( search ) > -1" v-bind:style="{ backgroundColor: el.color }">
								{{ el.name }}
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="right">
			    <h1 class="title"><center>{{ title }}</center></h1>
			    
			    <div class="function" v-if="usage">
			    	<h2><center>{{ usage }}</center></h2>
			    </div>

			    <div class="desc" v-if="description">
			    	<h2>DESCRIPTION :</h2>
			    	<p>{{ description }}</p>
			    </div>

			    <div class="arg" v-if="args.length > 0">
			    	<h2>ARGUMENTS :</h2>
			    	<p v-for="arg in args">
						• <b>{{ arg.type }}</b> <u>{{ arg.name }}</u> : {{ arg.prompt }}
					</p>
			    </div>

			    <div class="exp" v-if="example.pre_text">
			    	<h2>EXEMPLE :</h2>
			    	<div class="code">
				    	<pre>
hook.Add( "HUDPaint", "GNLib:DrawRectGradient", function()
    GNLib.DrawRectGradient( 10, ScrH() - 50, 100, 40, GNLib.Colors.Clouds, GNLib.Colors.Amethyst )
end )
						</pre>
					</div>
			    </div>

			    <div class="output" v-if="output">
			    	<h2>SORTIE :</h2>

			    	<img :src="output">
			    </div>
			</div>
		</header>

		<script src="https://unpkg.com/vue"></script>
		<script src="js/wiki_nav.js"></script>
		<script src="js/wiki_right.js"></script>
	</body>
</html>
